1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).
5. Read books.csv and insert its data into the book table.
6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.
10. Increment the count field of test and print it.

# Answers

In [1]:
#1.
test1= ''' This is a test of the emergency text system '''
with open ('test.txt', 'w') as outfile:
    outfile.write(test1)

In [2]:
#2.
with open ('test.txt', 'r') as outfile:
    test2= outfile.read()
print (test2)

 This is a test of the emergency text system

In [3]:
#3.
text= '''title,author,year
        The Weirdstone of Brisingamen,Alan Garner,1960
        Perdido Street Station,China Miéville,2000
        Thud!,Terry Pratchett,2005
        The Spellman Files,Lisa Lutz,2007
        Small Gods,Terry Pratchett,1992 '''
with open('books.csv', 'w') as outfile:
    outfile.write(text)

In [4]:
#4.
import sqlite3
db = sqlite3.connect("books.db")
curs = db.cursor()
curs.execute('''create table book (title text, author text, year integer)''')
db.commit()
db.close()

In [5]:
#5.
import csv
import sqlite3
con = sqlite3.connect("books.db")
cur = con.cursor()

a_file = open("books.csv")
rows = csv.reader(a_file)
print(rows)

<_csv.reader object at 0x00000230DE6140A0>

In [6]:
cur.executemany("insert into book values (?,?,?)", rows)

cur.execute("SELECT * FROM book")
print(cur.fetchall())

[('title', 'author', 'year'), ('        The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('        Perdido Street Station', 'China Miéville', 2000), ('        Thud!', 'Terry Pratchett', 2005), ('        The Spellman Files', 'Lisa Lutz', 2007), ('        Small Gods', 'Terry Pratchett', 1992)]

In [7]:

con.commit()
con.close()

In [10]:
#6.
db = sqlite3.connect("books.db")
curs = db.cursor()

select= 'select title from book order by title asc'
for row in db.execute(select):
    print(row)

db.commit()
db.close()

('        Perdido Street Station',)
('        Small Gods',)
('        The Spellman Files',)
('        The Weirdstone of Brisingamen',)
('        Thud!',)
('title',)

In [12]:
#7.
db = sqlite3.connect("books.db")
curs = db.cursor()
for row in db.execute('select * from book order by year'):
    print(row)

db.commit()
db.close()

('        The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('        Small Gods', 'Terry Pratchett', 1992)
('        Perdido Street Station', 'China Miéville', 2000)
('        Thud!', 'Terry Pratchett', 2005)
('        The Spellman Files', 'Lisa Lutz', 2007)
('title', 'author', 'year')

In [15]:
#8.
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
select= 'select title from book order by title asc'
rows = conn.execute(select)
for row in rows:
    print (row)

('        Perdido Street Station',)
('        Small Gods',)
('        The Spellman Files',)
('        The Weirdstone of Brisingamen',)
('        Thud!',)
('title',)

In [27]:
#9.
# As redis is getting error in windows machine , I have given below code which can be executed in linux machine
# import redis
# conn = redis.Redis()
# conn.delete('test')
# conn.hmset('test', {'count' : '1' , 'name' :' Udai'})
# conn.hagtall('test')

In [28]:
#10.
# As redis is getting error in windows machine , I have given below code which can be executed in linux machine

# conn = hincrby('test', 'count', 3)
# conn.hget('test', 'count')